= nav_bar :fixed => :top, :brand => "Twitter Bootstrap Rails Gem", :responsive => true do
  = menu_group do
    = menu_item "Home", root_path
    = menu_divider
    = menu_item "Widgets", widgets_path
