.col-md-12
  = form_for @widget, html: { class: "form form-horizontal widget", role: "form" } do |f|
    .form-group
      = f.label :cog, class: 'control-label'
      .controls
        = f.text_field :cog, class: 'form-control', required: true
      = error_span(@widget[:cog])
    .form-group
      = f.label :gear, class: 'control-label'
      .controls
        = f.text_field :gear, class: 'form-control', required: true
      = error_span(@widget[:gear])
    .form-group
      = f.label :axle, class: 'control-label'
      .controls
        = f.text_field :axle, class: 'form-control', required: true
      = error_span(@widget[:axle])
    .form-group
      = f.submit nil,class: 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), widgets_path, :class => 'btn btn-default'
