<%= form_for @widget, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :cog, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cog, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :gear, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gear, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :axle, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :axle, :class => 'form-control' %>
    </div>
  </div>

  
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            widgets_path, :class => 'btn btn-default' %>
 
<% end %>
