- model_class = Widget
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
.col-md-10
  .row
    %table.table.table-striped
      %thead
        %tr
          %th= model_class.human_attribute_name(:id)
          %th= model_class.human_attribute_name(:cog)
          %th= model_class.human_attribute_name(:gear)
          %th= model_class.human_attribute_name(:axle)
          %th= model_class.human_attribute_name(:created_at)
          %th=t '.actions', :default => t("helpers.actions")
      %tbody
        - @widgets.each do |widget|
          %tr
            %td= link_to widget.id, widget_path(widget)
            %td= widget.cog
            %td= widget.gear
            %td= widget.axle
            %td=l widget.created_at
            %td
              = link_to t('.edit', :default => t("helpers.links.edit")), edit_widget_path(widget), :class => 'btn btn-default btn-xs'
              = link_to t('.destroy', :default => t("helpers.links.destroy")), widget_path(widget), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

    = link_to t('.new', :default => t("helpers.links.new")), new_widget_path, :class => 'btn btn-primary'
.col-md-10
  .row
    %br
    .panel.panel-primary
      .panel-heading
        %span I'm a panel
      .panel-body
        %p
          Secret to life, creation, and all things is
          %span{class:"badge"} 42
        = content_tag :a, "Modal Example", :href => "#modal", :class => 'btn btn-default', :data => {:toggle => 'modal'}
        = modal_dialog :id => "modal",                                                       |
          :header => { :show_close => true, :dismiss => 'modal', :title => 'Modal header' }, |
          :body => { :content => 'This is the body' },                                       |
          :footer => { :content => content_tag(:button, 'Neat! Bye!', :class => 'btn btn-primary', :data => { :dismiss => 'modal' }) }           |