- model_class = Widget
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:cog) + ':'
  %br
  = @widget.cog
%p
  %strong= model_class.human_attribute_name(:gear) + ':'
  %br
  = @widget.gear
%p
  %strong= model_class.human_attribute_name(:axle) + ':'
  %br
  = @widget.axle

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), widgets_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_widget_path(@widget), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), widget_path(@widget), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
