!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Teststrap"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = javascript_include_tag "application"

  %body
    .container-fluid
      = nav_bar fixed: :top, brand: "railsstrap #{Railsstrap::Constants::VERSION}", :responsive => true do
        = menu_group do
          = menu_item 'Home', root_path
          = drop_down 'Helpers' do
            = menu_item 'Breadcrumbs', 'https://github.com/toadkicker/railsstrap/wiki/Breadcrumbs-Helper'
            = menu_item 'Flash Messages', 'https://github.com/toadkicker/railsstrap/wiki/Flash-messages-helper'
            = menu_item 'Icons', 'https://github.com/toadkicker/railsstrap/wiki/Bages,-Labels,-Fontawesome,-and-Glyphicons'
            = menu_item 'Navbars', 'https://github.com/toadkicker/railsstrap/wiki/Navbar-Helper'
            = menu_item 'Modals', 'https://github.com/toadkicker/railsstrap/wiki/Modal-Helper'
            = menu_item 'Date/Time Picker', 'https://github.com/toadkicker/railsstrap/wiki/DateTime-Picker'
          = menu_divider
          = drop_down 'Widgets' do
            = menu_item 'All Widgets', widgets_path
            = menu_item 'New Widget', new_widget_path
          = menu_item icon(:github) + ' Github Repo', 'https://github.com/toadkicker/railsstrap'
          = menu_item 'Wiki', 'https://github.com/toadkicker/railsstrap/wiki'
          - if !user_signed_in?
            = menu_item "Sign In", new_user_session_path, pull: :right
          - if user_signed_in?
            = menu_group :pull => :right do
              = drop_down "#{current_user.full_name}" do
                = menu_item icon(:sign_out) + 'Sign out', destroy_user_session_path, method: :delete

    %div{style: "padding-top: 60px"}
    .container
      .row
        .col-lg-9.col-md-9.col-sm-9
          = bootstrap_flash
          = yield
        .col-lg-3.col-md-3.col-sm-3
          %h3 Sidebar Example
          .well.sidebar-nav
            %ul.nav.nav-list
              %li.nav-header Sidebar
              %li= link_to 'Link 1', '/path1'
              %li= link_to 'Link 2', '/path2'
              %li= link_to 'Link 3', '/path3'
      .row
        %footer
          %p
            = link_to 'Built with Railsstrap', 'https://github.com/toadkicker/railsstrap', target: 'blank'
            &copy;
            = Time.now.year
    = date_picker_javascript()
